.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item {
  width: 260px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(64, 47, 218);
  border-radius: 4px;
  list-style: none;
  background-color: white;
}

.text {
  padding-left: 15px;
}

.button:hover {
  color: red;
}
